*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

/* shared classes */

.right-container{
  width: calc(100% - 260px);
  height: calc(100vh + 100px);
  display: flex;
}

/* top-bar */

.top-bar{
  width: 100%;
  height: 95px;
  background-color: rgba(0, 0, 0, 0.445);
  position: fixed;
  z-index: 98;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.upgrade-button{
  padding: 12px 37px;
  margin-right: 25px;
  border-radius: 25px;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  background-color: transparent;
}

/* fine top-bar */

/* main */

a:active,
a:focus,
a { 
  color: #A3A3A3;
  text-decoration: none;
}

a:hover{
  color: #fff;
}

ul, li{
  display: block;
  list-style-type: none;
  font-weight: 700;
}

/* spotify-navbar */

.spotify-navbar{
  height: calc(100% - 100px);
  width: 250px;
  min-height: 450px;
  position: fixed;
  z-index: 99;
  background-color: #000000;
}

.navbar-container{
  height: 100%;
  width: 100;
}

.navbar-row{
  height: 100%;
}

.navbar-col{
  height: 100%;
}

.navbar-content{
  width: 80%;
  height: 100%;
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar-logo-container{
  width: 75%;
  margin-bottom: 25px;
}

.navbar-list-item{
  margin-bottom: 5px;
}

#home-list-item{
  margin-left: -20px;
  border-left: 3px solid greenyellow;
}

.navbar-list-img{
  width: 13%;
}

#home-list-img{
  margin-left: 16px;
}

.navbar-list-text{
  margin-left: 5px;
  bottom: 8px;
  font-size: 13px;
  font-weight: 500;
  position: relative;
}

.playlist-content{
  margin-top: 20px;
}

.playlist-content > h4{
  margin-bottom: 15px;
  font-size: 14px;
  color: #FFFFFF;
}

.playlist-hover{
  margin-bottom: 20px;
  align-items: center;
  display: flex;
}

.playlist-hover:hover .create-playlist{
  background-color: #FFFFFF;
}

.playlist-hover:hover .hover-plus{
  color: #FFFFFF;
}

.create-playlist{
  height: 37px;
  width: 37px;
  margin-right: 10px;
  text-align: center;
  background-color: #A3A3A3;
}

.plus{
  bottom: 4px;
  color: black;
  font-size: 2.2rem;
  font-weight: 400;
  position: relative;
}

.playlist-list-name{
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 400;
}

.profile{
  margin-bottom: 40px;
}

.install-app{
  color: #A3A3A3;
  display: flex;
  align-items: center;
}

.install-app:hover .download{
  color: #fff;
  border-color: #fff;
}

.download{
  height: 15px;
  width: 15px;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid #A3A3A3;
  font-size: 0.5rem;
  text-align: center;
}

.download-text{
  font-size: 12px;
  font-weight: 500;
}

.fa-arrow-down-long{
  position: relative;
  top: 2px;
}

hr{
  margin-top: 11px;
  margin-bottom: 15px;
}

.account{
  display: flex;
  align-items: center;
}

.account-pic{
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border-radius: 50%;
  background-image: url(../img/profile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #A3A3A3;
}

.account-name > h4{
  font-size: 15px;
  color: #FFFFFF;
}

.profile-adapt-phone{
  margin-left: 20px;
}

.download-adapt-phone{
  width: 40%;
  margin-left: 5px;
  margin-bottom: 10px;
}

.download-adapt-phone > img{
  width: 100%;
}

.navbar-adapt-phone{
  height: calc(100% - 100px);
  min-height: 450px;
  width: 70px;
  display: none;
  position: fixed;
  z-index: 99;
  background-color: #000000;
}

.logo-icons-adapt-phone{
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.logo-adapt-phone{
  margin-top: 10px;
  margin-left: 10px;
  width: 70%;
}

.logo-adapt-phone > img{
  width: 100%;
}

.img-list-adapt-phone{
  width: 60%;
  margin-top: 15px;
  margin-left: 10px;
}